<%= javascript_include_tag 'new.js.erb' %> 

<script>
$(document).ready(function() {
	console.log("New.js.erb -- trying stuff out");

	var answer_json = [];

	var stuff = $('.questions_class').data('questions');
	var questions = JSON.parse(stuff)
	console.log(questions);

	function recurse(obj) {
		$.each(obj, function (key, value) {
//			console.log(obj, key, value)
			if (value.hasOwnProperty('choices')) {
				console.log(key);
				var intId = $(".form_div div").length + 1;

				var new_wrapper = $('<div class= wrapper, id = ' + intId + '/>');
				
				$(".form_div div").append(new_wrapper); // where do I put this? 

				var show_question = value['question'];

				new_wrapper.append(show_question);

//				$('#question').append(show_question)
				

				var selections = (value['choices']);
				var show_choice = [];
				var choices = $.each(selections, function(k, v) {
					show_choice.push(" " + v['choice']);
				
				});

				console.log(show_choice)
				new_wrapper.append(" Your choices are: " + show_choice)

				var additional_answer_input = $('<input type=text, id= answer' + intId + '/>');
				new_wrapper.append(additional_answer_input)


//				console.log(obj, key, value)
			}
			else if (value['choices']) {
//				console.log(value['choices']);
			}
			else if (typeof value == 'object') {
				recurse(value);
			}
			else { // ??
				var q1 = obj['question']
//				$('#question').append(q1);
				answer_json.push({
					q: q1,
					a: $('#answer').val()
				})
//				console.log(answer_json)
				//console.log(key, value);
			}
		});
	}

//	$('#question').append(JSON.stringify(questions[0]['question']));
//	var question = questions[0]['question']

	var answer = $('#answer');
	$('#answer').on("change", function() {
//		console.log(answer.val());
		answer_json.push({
			q: question, 
			a: answer.val()
		});
		console.log(answer_json)
		console.log(JSON.stringify(answer_json))
		$("#answer_form").val(JSON.stringify(answer_json));
	});

	recurse(questions); 

});
</script> 

<h1> Take a Survey </h1> 
<%= puts "HOOOO" %>
<%= puts @data %>

<%= content_tag :div, class: "questions_class", data: {questions: @data} do %>
<% end %>

<%= form_for @survey do |f| %>

	<div class ="form_div">
		<div class="wrapper">
			<div id="question">
			</div>
<!-- 			<input type="text" id="answer">
			</input> -->
		</div>
	</div>

	<%= f.hidden_field :kind_id, :value => 1%>
		<%= f.hidden_field :questions, :value => @data %>
		<%= f.hidden_field :answers, :id => "answer_form" %>
		<%= f.submit "Submit the survey" %>
<% end %>